@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap");
:root {
  --header-height: 3em;
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --bright-blue-light: hsl(224, 93%, 65%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: var(--header-height) 0 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  width: 170px;
}

.header {
  width: 100%;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  font-family: 'Raleway', sans-serif;
}

.header .nav__link {
  color: var(--very-dark-blue);
}

.section__content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}

.features {
  padding: 4em 0 12em;
}

.title {
  font-family: 'Raleway', sans-serif;
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.desc {
  color: var(--very-dark-blue);
  font-size: 0.875rem;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-weight: 400;
}

.row {
  -ms-grid-columns: 1fr 0.9fr;
      grid-template-columns: 1fr 0.9fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1__desc {
  width: 90%;
}

.col-2__img {
  max-width: 450px;
  margin-left: auto;
}

.features__desc {
  width: 90%;
}

.email {
  border: 1px solid var(--desaturated-blue);
  border-radius: 3px;
  padding: 10px 15px;
  width: 260px;
  margin-right: 0.5em;
}

.email:focus {
  outline: 2px solid var(--bright-blue);
  -webkit-box-shadow: 0 0 10px var(--bright-blue);
          box-shadow: 0 0 10px var(--bright-blue);
}

::-webkit-input-placeholder {
  color: var(--light-gray);
}

:-ms-input-placeholder {
  color: var(--light-gray);
}

::-ms-input-placeholder {
  color: var(--light-gray);
}

::placeholder {
  color: var(--light-gray);
}

.send {
  display: inline-block;
  width: 150px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: var(--bright-blue);
  border-radius: 4px;
  color: #fff;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.send:hover {
  background-color: var(--bright-blue-light);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.team {
  background-color: var(--light-grayish-blue);
  padding: 4em 0 6em;
  position: relative;
}

.team__grid {
  -ms-grid-columns: 1.1fr 0.9fr;
      grid-template-columns: 1.1fr 0.9fr;
}

.team__title {
  margin-bottom: 1em;
}

.team__link {
  color: var(--moderate-cyan);
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__link__container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--moderate-cyan);
}

.team__link__container:hover {
  opacity: 70%;
}

.team__link__img {
  width: 25px;
  margin-left: 0.4em;
}

.team::before {
  content: "";
  position: absolute;
  background: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  top: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  background-size: cover;
}

.card {
  margin-top: 3em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 25px;
  width: 60%;
}

.card__quote {
  margin-bottom: 0.3em;
}

.card__desc {
  font-size: 0.75rem;
  margin-bottom: 1em;
  letter-spacing: 0.5px;
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__user__img {
  width: 35px;
  border-radius: 50%;
}

.card__user__info {
  margin-left: 0.5em;
}

.card__user__name {
  font-size: 0.8rem;
}

.card__user__position {
  font-size: 0.6rem;
}

.sign__in {
  padding: 6em 0 4.5em;
  background-color: var(--desaturated-blue);
}

.sign__in__title {
  color: var(--light-grayish-blue);
  margin-bottom: 1em;
}

.sign__in__desc {
  color: var(--light-gray);
  width: 75%;
}

.sign__in__email {
  width: 100%;
  margin-bottom: 1em;
}

.sign__in__send {
  width: 180px;
}

.sign__in__grid {
  -ms-grid-columns: 1fr 0.7fr;
      grid-template-columns: 1fr 0.7fr;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.footer {
  padding: 5em 0;
  background-color: var(--very-dark-blue);
  color: var(--light-gray);
  font-size: 0.875rem;
}

.footer__content {
  -ms-grid-columns: 1.7fr 1fr 1fr 1fr;
      grid-template-columns: 1.7fr 1fr 1fr 1fr;
}

.footer__logo {
  margin-bottom: 1em;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9em;
}

.footer__icon {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  margin-right: 0.5em;
}

.footer__link {
  margin-bottom: 1em;
  padding-top: 0.2em;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.footer__socials__icon {
  border: 2px solid var(--light-gray);
  border-radius: 50%;
  padding: 2px 7px 4px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 1.5em 0 0;
  }
  .header .nav__list {
    gap: 1em;
  }
  .header .nav__link {
    font-size: 0.7rem;
  }
  .logo {
    width: 90px;
  }
  .features {
    text-align: center;
  }
  .title {
    font-size: 1.5rem;
  }
  .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .col-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 2em;
  }
  .col-2__img {
    margin: 0 auto;
  }
  .col-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .desc {
    font-size: 0.8125rem;
  }
  .email,
  .send {
    width: 100%;
  }
  .email {
    margin-bottom: 1em;
  }
  .team {
    text-align: center;
  }
  .team__title {
    font-size: 1.18rem;
  }
  .team__desc {
    text-align: initial;
    color: var(--moderate-cyan);
    font-size: 0.8125rem;
  }
  .team__link {
    font-size: 0.8125rem;
  }
  .team__link__container {
    margin: 1em 0 2.5em;
  }
  .card {
    width: 90%;
    margin: 0 auto;
    text-align: initial;
  }
  .card__desc {
    font-size: 0.64rem;
    margin: 1em 0 1.5em;
  }
  .card__user__position {
    font-size: 0.64rem;
  }
  .sign__in {
    text-align: center;
  }
  .sign__in__desc {
    width: 80%;
    margin: 0 auto 1.5em;
  }
  .sign__in__col-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .sign__in__col-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sign__in__email, .sign__in__send {
    width: 80%;
    margin: 0 auto;
  }
  .sign__in__email {
    margin: 1em;
  }
  .footer__logo {
    width: 170px;
    margin-bottom: 2em;
  }
  .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2em;
  }
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .team::before {
    background: url("../images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    top: -50px;
  }
}
/*# sourceMappingURL=style.css.map */