li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.logo{
    width: 170px;
}
.section__content{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}
.title{
    font-family: 'Raleway', sans-serif;
    color: var(--very-dark-blue);
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.desc{
    color: var(--very-dark-blue);
    font-size: 0.875rem;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-weight: 400;
}