@import "_config.scss";
@import "_utils.scss";

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: var(--header-height) 0 0;
}
.header{
    width: 100%;

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 1em;

        &__list{
            display: flex;
            gap: 3em;
            font-family: 'Raleway', sans-serif;
        }
        &__link{
            color: var(--very-dark-blue);
        }
    }
}
// first section
.features{
    padding: 4em 0 12em;
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.row{
    grid-template-columns: 1fr 0.9fr;
    align-items: center;
}
.col-1__desc{
    width: 90%;
}
.col-2__img{
    max-width: 450px;
    margin-left: auto;
}
.features__desc{
    width: 90%;
}
.email{
    border: 1px solid var(--desaturated-blue);
    border-radius: 3px;
    padding: 10px 15px;
    width: 260px;
    outline: none;
    border: 1px solid rgb(82, 82, 82);

    &:focus{
        outline: 2px solid var(--bright-blue);
        box-shadow: 0 0 10px var(--bright-blue);
    }
}
::placeholder{
    color: var(--light-gray);
}
.form{
    display: flex;
    column-gap: 1rem;

    &__input{
        display: flex;
        flex-direction: column;
    }
}
// form invalid part
.error{
    color: red;
    font-weight: 600;
    font-size: 0.75em;
    margin-top: 0.2rem;
    display: none;
}
.email:not(:focus):not(:placeholder-shown):invalid ~ .error{
    display: block;
}
.email:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
}
.send{
    display: inline-block;
    width: 150px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: var(--bright-blue);
    border-radius: 4px;
    color: #fff;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        background-color: var(--bright-blue-light);
        box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    }
}

// second section 
.team{
    background-color: var(--light-grayish-blue);
    padding: 2em 0 6em;
    position: relative;

    &__grid{
        grid-template-columns: 1.1fr 0.9fr;
    }
    &__title{
        margin-bottom: 1em;
    }

    &__link{
        color: var(--moderate-cyan);
        position: relative;
        transition: 0.3s;
        
        &__container{
            display: inline-flex;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: 2px solid var(--moderate-cyan);
            
            &:hover{
                opacity: 70%;
            }
        }
        &__img{
            width: 25px;
            margin-left: 0.4em;
        }
    }
}
.card{
    margin-top: 3em;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px 25px;
    width: 60%;
    
    &__quote{
        margin-bottom: 0.3em;
    }
    &__desc{
        font-size: 0.75rem;
        margin-bottom: 1em;
        letter-spacing: 0.5px;
    }
    &__user{
        display: flex;
        align-items: center;

        &__img{
            width: 35px;
            border-radius: 50%;
        }
        &__info{
            margin-left: 0.5em;
        }
        &__name{
            font-size: 0.8rem;
        }
        &__position{
            font-size: 0.6rem;
        }
    }
}
.sign__in{
    padding: 6em 0 4.5em;
    background-color: var(--desaturated-blue);

    &__title{
        color: var(--light-grayish-blue);
        margin-bottom: 1em;
    }
    &__desc{
        color: var(--light-gray);
        width: 75%;
    }
    &__email{
        width: 100%;
    }
    &__send{
        width: 180px;
    }
    &__grid{
        grid-template-columns: 1fr 0.7fr;
    }
    .form{
        flex-direction: column;
        row-gap: 1rem;
    }
}
// footer
.grid{
    display: grid;
}
.footer{
    padding: 5em 0;
    background-color: var(--very-dark-blue);
    color: var(--light-gray);
    font-size: 0.875rem;

    &__content{
        grid-template-columns: 1.7fr 1fr 1fr 1fr;
    }
    &__logo{
        width: 170px;
        margin-bottom: 1em;
    }
    &__contact{
        display: flex;
        align-items: center;
        margin-bottom: 0.9em;
    }
    &__icon{
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.2rem;
        margin-right: 0.5em;
    }
    &__link{
        margin-bottom: 1em;
        padding-top: 0.2em;
    }
    a{
        color: var(--light-gray);
    }
    &__socials{
        display: flex;
        gap: 1em;

        &__icon{
            border: 2px solid var(--light-gray);
            border-radius: 50%;
            padding: 2px 7px 4px;
        }
    }
}
@media screen and (max-width: 968px){
    .features{
        text-align: center;
    }
    .row{
        grid-template-columns: 1fr;
    }
    .col-2{
        order: 1;
        margin-bottom: 2em;

        &__img{
            margin: 0 auto;
        }
    }
    .col-1{
        order: 2;
    }
    .desc{
        margin-bottom: 2rem;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
    .email,
    .send{
        width: 100%;
    }
    .send{
        margin-top: 1rem;
    }
    .error{
        text-align: initial;
    }
    .sign__in{
    text-align: center;

        &__desc{
            width: 80%;
            margin: 0 auto 1.5em;
        }
        &__col-1{
            order: 1;
        }
        &__col-2{
            order: 2;
        }
        &__email,
        &__send{
            width: 80%;
            margin: 0 auto;
        }
        &__email{
            margin-top: 1em;
        }
        .error{
            margin-left: 10%
        }
    }
    .team{
        text-align: center;

        &__desc{
            color: var(--moderate-cyan);
            width: 100%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
        &__link{

            &__container{
                margin: 1em 0 2.5em;
            }
        }
    }
    .card{
        width: 60%;
        margin: 1rem auto 0;
        text-align: initial;
    }
}
@media screen and (max-width: 768px){
    body{
        margin: 1.5em 0 0;
    }
    .header{
        .nav{

            &__list{
                gap: 1em;
            }
            &__link{
                font-size: 0.7rem;
            }
        }
    }
    .logo{
        width: 90px;
    }
    .title{
        font-size: 1.5rem;
    }
    .desc{
        font-size: 0.8125rem;
    }
    .team{

        &__title{
            font-size: 1.3rem;
        }
        &__desc{
            font-size: 0.8125rem;
        }
        &__link{
            font-size: 0.8125rem;
        }
    }
    .card{
        width: 90%;
        margin: 0 auto;
        text-align: initial;

        &__desc{
            font-size: 0.6875em;
            margin: 1em 0 1.5em;
        }
        &__user__position{
            font-size: 0.6875em;
        }
    }
    .footer{
        &__logo{
            margin-bottom: 2em;
        }
        &__content{
            grid-template-columns: 1fr;
            gap: 2em;
        }
        &__socials{
            justify-content: center;
        }
    }
}
@media screen and (max-width: 468px){
    .section__content{
        padding: 0 1rem;
    }
    .desc{
        font-size: 0.75em;
    }
    .features{
        background-image: url("../images/bg-curve-mobile.svg");
    }
    .team{
        text-align: center;

        &__title{
            font-size: 1.2rem;
        }
        &__desc{
            text-align: initial;
            color: var(--moderate-cyan);
            font-size: 0.6875em;
        }
    }
    .card{
        width: 90%;

        &__desc{
            font-size: 0.6em;
            margin: 1em 0 1.5em;
        }
        &__user__position{
            font-size: 0.6125em;
        }
    }
}

